.Tabs{
    margin: auto !important;
}

.fex1{
text-align: center;
margin:20px
}
.fex2{
text-align: center;
margin: auto;
}

/* .css-8je8zh-MuiTouchRipple-root {
    overflow: hidden !important;
    pointer-events: none !important;
    position: absolute !important;
    z-index: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    border-radius: inherit !important;
}

.MuiTouchRipple-root {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    border-radius: inherit !important;
    pointer-events: none !important;
} */